<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Secretary</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    Patients:
    <table border="1">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Id Card Nr</th>
            <th>CNP</th>
            <th>Date of Birth</th>
            <th>Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="patient : ${patients}">
            <td th:text="${patient.id}"></td>
            <td th:text="${patient.name}"></td>
            <td th:text="${patient.idCard}"></td>
            <td th:text="${patient.cnp}"></td>
            <td th:text="${patient.dob}"></td>
            <td th:text="${patient.address}"></td>
        </tr>
        </tbody>
    </table>

    <form action="#" th:action="@{/secretary}"  th:object="${patient}" method="post">
        <p>Id: <input type="text" name="id" id="id" /></p>
        <p>Name: <input type="text" th:field="*{name}" /></p>
        <p>Id Card Number: <input type="text" th:field="*{idCard}" /></p>
        <p>Date of birth: <input type="date" th:field="*{dob}" /></p>
        <p>CNP: <input type="text" th:field="*{cnp}" /></p>
        <p>Address: <input type="text" th:field="*{address}" /></p>
        <p><input type="submit" name="Create" value="Create" formnovalidate="formnovalidate"/> </p>
        <p><input type="submit" name="Update" value="Update" /> </p>
    </form>
    <p th:text="${result}" />
    <a href="/logout">Logout</a>
</body>
</html>